.DriveMyCar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15%;
}
    #imageMovie{
        width: 300px;
    }
    .DMC-Description {
        display: flex;
        flex-direction: col;
        justify-content: center;
    }