body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.areaLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 10%;
}

.loading {
    animation: is-rotating 1s infinite;
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    border-radius: 50%;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}