* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #e1e1e1;
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 75vh;
}

.container .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.container .carousel .item {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 280px;
    border-radius: 16px;
}

.container .carousel .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

container .carousel .item .info {
    height: 140 px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

container .carousel .item .info span {
    display: block;
    text-align: center;
    color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
}

.container .carousel .item .info .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px o;
} 

.container .carousel .item .info .dateTime {
    font-size: 0.8rem;
    text-decoration: line-through;
    flex-grow: 1;
    color: #e81a5d;
}

.container .carousel .item .info .sinopse {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ff7e3b;
}