@font-face {
    font-family: 'CooperHewitt';
    src: url('cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.DriveMyCar{
    font-family: CooperHewitt;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    margin: 15%;
}
    #imageMovie{
        width: 300px;
    }
    .DMC_Description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sinopse{
        margin-top: 17px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        text-align: justify;
        text-justify: inter-word;
    }