@font-face {
    font-family: 'CooperHewitt';
    src: url('cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.dmyContainer{
    background-color:#70AECF;
    display: flex; flex-direction: row; justify-content: flex-end;
    border-radius: 60px;
    margin-right: 3%;
}
.lajeteeContainer{
    background-color:#70AECF;
    display: flex; flex-direction: row-reverse; justify-content: flex-end;
    border-radius: 60px;
    margin-right: 3%;
}

.DriveMyCar{
    font-family: CooperHewitt;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    padding-left: 100px;
    margin: 12%; 
}
    #imageMovie{
        width: 300px;
    }
    .DMC_Description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sinopse{
        color:  #280D50;
        margin-top: 17px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        text-align: justify;
        text-justify: inter-word;
    }
    .descricao{
        color:  #280D50;
        margin-top: 17px;
        padding-left: 30px; padding-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        text-align: justify;
        text-justify: inter-word;
    }
    .fonte{
        display: flex; flex-direction: row; justify-content:flex-start;
        color: #A7D4DF;
;
    }
h2{
    margin-top: 5%;
    color:  #280D50;
}
h4{
    color:  #280D50;
}