@font-face {
    font-family: Montserrat;
    src: url("./font/Montserrat-VariableFont_wght.ttf") format('truetype');
    font-weight: normal; font-style: normal;

    font-family: Montserrat Italic;
    src: url("./font/Montserrat-Italic-VariableFont_wght.ttf") format('truetype');
    font-weight: normal; font-style: normal;
}

*{
    font-family: Montserrat;
}
body{
    width: 100%;
}

.conhecaNossos{
    display: flex; flex-direction: column;
    align-items: center;
    padding: 3%;
    margin-top: 3%;
}


.colaboradoresContainerGeral{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70rem;
    background-color: #280D50;
}
    .colaboradoresContainer{
        background-color:#70AECF;
        display: flex; 
        flex-direction: row; 
        justify-content: flex-end;
         position: relative; 
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px; 
        width: 60%;
        margin-right: 3%;
    }

 .colaboradoresContainer2{
        background-color:#A7D4DF;
        display: flex; 
        flex-direction: row; 
        justify-content: flex-start;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px; 
        position: relative; 
        border-radius: 60px 0px 0px 60px;
        margin: 61px 0px 0px 0px; 
        left:25%;
        width:75%;
      
    }

   
    .colaboradorcard{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        margin: 4%;
    }
b {
    font-size: 20px;
}

.redirecionamento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 6%;
}
.redirecionamentobtn{
    background-color: #70AECF;
    padding: 10px;
    border-radius: 56px;
    width: 300px;
    position: inherit;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    opacity:0.8;
}
.redirecionamentobtn:hover{
    opacity:1;
}


#parceiroslinkto{
    display: flex;
    justify-content: center;
    padding: 7%;
    font-size: 23px;
    color: #70AECF;
    text-decoration: none;
    text-decoration-color: #70AECF;
    text-align: center;
    

} 
#parceiroslinkto a {
    color:  #280D50
}
