.button {
    margin-top: 10%;
    width: 240px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background: #2b334b;
    color: #fff;
    border: 2px #020203;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background: #10131b;
    
}